* {
  margin: 0;
  padding: 0;
  font-family: "Merienda One", cursive;
  box-sizing: border-box;
}

body {
  width: 100%;
}

/* ******************************* HEADER **********************************  */

header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.drapeau {
  border: 2px solid black;
  height: 60px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rondrouge {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 30px;
}

.navbar {
  height: 60px;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 250px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.666);
}

.navbar a:hover {
  color: red;
  text-shadow: 1px 1px 1px black;
}

/* ******************************* SECTION 1 **********************************  */

.section1 {
  width: 100%;
  height: 800px;
  background-color: black;
}

.section1 iframe {
  height: 800px;
  width: 100%;
  padding: 20px 0;
}

.section1titre {
  position: absolute;
  top: 750px;
  right: 150px;
  height: auto;
  width: 300px;
}

.section1titre h1 {
  color: white;
  font-size: 80px;
  text-shadow: 3px 3px 3px black;
}

.section1titre h1 span {
  color: red;
}

/* ******************************* SECTION 2 **********************************  */

.section2 {
  height: 900px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.section2titre {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px red;
}

.section2titre h2 {
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px 2px red;
  letter-spacing: 1px;
}

.section2photo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  height: 600px;
}

.histoire {
  height: 500px;
  width: 500px;
  background-color: white;
  box-shadow: 2px 2px 15px 1px red;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.histoire a {
  background-image: url(/assets/images/Accueil/section2/640px-Carte_Prefecture_Tokyo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid black;
  width: 450px;
  height: 300px;
}

.histoire a:hover {
  box-shadow: 2px 2px 15px 2px black;
}

.histoire h4 {
  color: black;
  font-size: 40px;
  text-shadow: 1px 1px 1px red;
}

.photo {
  height: 500px;
  width: 500px;
  background-color: white;
  box-shadow: 2px 2px 15px 1px red;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.photo a {
  background-image: url(/assets/images/Accueil/section2/jezael-melgoza-alY6_OpdwRQ-unsplash.jpg);
  background-size: cover;
  width: 450px;
  height: 300px;
}

.photo a:hover {
  box-shadow: 2px 2px 15px 2px black;
}

.photo h4 {
  color: black;
  font-size: 40px;
  text-shadow: 1px 1px 1px red;
}

.contact {
  height: 500px;
  width: 500px;
  background-color: white;
  box-shadow: 2px 2px 15px 1px red;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contact a {
  background-image: url(/assets/images/Accueil/section2/pema-lama-6cfK0SEtpbY-unsplash.jpg);
  background-size: cover;
  width: 450px;
  height: 300px;
}

.contact a:hover {
  box-shadow: 2px 2px 15px 2px black;
}

.contact h4 {
  color: black;
  font-size: 40px;
  text-shadow: 1px 1px 1px red;
}

/* ******************************* SECTION 3 **********************************  */

.section3 {
  height: 900px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3left {
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  margin-left: 15px;
  padding: 10px;
}

.section3photo1 {
  background-image: url(/assets/images/Accueil/section3/jj-ying-9Qwbfa_RM94-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid white;
  grid-column: 1;
  grid-row: 1;
}

.section3photo2 {
  background-image: url(/assets/images/Accueil/section3/ling-xian-su-7FV4bEljHe8-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid white;
  grid-column: 2;
  grid-row: span 2;
}

.section3photo3 {
  background-image: url(/assets/images/Accueil/section3/jase-bloor-oCZHIa1D4EU-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid white;
  grid-column: 1;
  grid-row: 2;
}

.section3right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.section3titre {
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px 2px red;
  letter-spacing: 1px;
}

.section3map {
  border: 5px solid white;
  border-bottom: 0px;
  background-color: white;
}

/* ******************************* FOOTER **********************************  */

.footer {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer h5 {
  font-size: 12px;
}

.footer p {
  font-size: 12px;
}

.hautdepage a{
  position: absolute;
  right: 10px;
  top: -60px;
}



/* ******************************* RESPONSIVE 1440 **********************************  */

@media screen and (max-width: 1440px) {
  .navbar {
    gap: 180px;
  }

  /* ***************** SECTION 2 ****************  */

  .section2photo {
    gap: 20px;
    width: 90%;
    height: 550px;
    margin-left: 20px;
    margin-right: 20px;
  }

  /* ***************** SECTION 3 ****************  */

  .section3titre {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 2px red;
    letter-spacing: 1px;
  }

  .section3left {
    height: 90%;
  }

  .section3map iframe {
    width: 450px;
  }

  /* ***************** FOOTER ****************  */

  .footer {
    gap: 80px;
  }
}

/* ******************************* RESPONSIVE 1024 **********************************  */

@media screen and (max-width: 1024px) {
  .navbar {
    gap: 100px;
  }

  .navbar a {
    font-size: 20px;
  }

  .drapeau {
    height: 40px;
    width: 80px;
  }

  .rondrouge {
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }

  /* ***************** SECTION 1 ****************  */

  .section1titre {
    top: 750px;
    right: 80px;
    height: auto;
    width: 250px;
  }

  /* ***************** SECTION 2 ****************  */

  .section2 {
    height: 600px;
  }

  .section2titre {
    height: 80px;
    margin-top: 10px;
  }

  .section2titre h2 {
    font-size: 40px;
  }

  .section2photo {
    gap: 20px;
    height: auto;
  }

  .histoire {
    height: 400px;
    width: 300px;
    gap: 20px;
  }

  .histoire a {
    width: 100%;
    height: 200px;
  }

  .histoire h4 {
    font-size: 30px;
  }

  .photo {
    height: 400px;
    width: 300px;
    gap: 20px;
  }

  .photo a {
    width: 100%;
    height: 200px;
  }

  .photo h4 {
    font-size: 30px;
  }

  .contact {
    height: 400px;
    width: 300px;
    gap: 20px;
  }

  .contact a {
    width: 100%;
    height: 200px;
  }

  .contact h4 {
    font-size: 30px;
  }

  /* ***************** SECTION 3 ****************  */

  .section3 {
    height: 700px;
  }

  .section3left {
    height: 80%;
  }

  .section3right {
    gap: 20px;
  }

  .section3titre {
    font-size: 40px;
  }

  .section3map iframe {
    width: 350px;
  }

  /* ***************** FOOTER ****************  */

  .footer {
    gap: 60px;
  }
}

/* ******************************* RESPONSIVE 768 **********************************  */

@media screen and (max-width: 768px) {
  .navbar {
    gap: 50px;
  }

  .navbar a {
    font-size: 18px;
  }

  .drapeau {
    width: 70px;
  }

  /* ***************** SECTION 1 ****************  */

  .section1 {
    height: 500px;
  }

  .section1 iframe {
    height: 500px;
  }

  .section1titre {
    top: 480px;
    right: 20px;
    width: auto;
  }

  .section1titre h1 {
    font-size: 60px;
  }

  /* ***************** SECTION 2 ****************  */

  .section2 {
    height: 500px;
  }

  .section2titre {
    height: auto;
  }

  .section2titre h2 {
    font-size: 30px;
  }

  .section2photo {
    gap: 40px;
  }

  .histoire {
    height: 350px;
  }

  .histoire h4 {
    font-size: 20px;
  }

  .photo {
    height: 350px;
  }

  .photo h4 {
    font-size: 20px;
  }

  .contact {
    height: 350px;
  }

  .contact h4 {
    font-size: 20px;
  }

  /* ***************** SECTION 3 ****************  */

  .section3 {
    height: 500px;
  }

  .section3right {
    gap: 20px;
  }

  .section3titre {
    font-size: 30px;
  }

  .section3map iframe {
    height: 300px;
  }

  /* ***************** FOOTER ****************  */

  .footer {
    gap: 20px;
  }

  .footer h5 {
    font-size: 8px;
  }

  .footer p {
    font-size: 10px;
  }
}

.hautdepage{
  display: none;
}

/* ******************************* RESPONSIVE 425 **********************************  */

@media screen and (max-width: 425px) {
  .navbar {
    gap: 20px;
  }

  .navbar a {
    font-size: 12px;
  }

  .drapeau {
    width: 70px;
  }

  /* ***************** SECTION 1 ****************  */

  .section1 {
    height: auto;
  }

  .section1 iframe {
    width: 100%;
    height: auto;
  }

  .section1titre {
    top: 215px;
    right: 10px;
    width: auto;
  }

  .section1titre h1 {
    font-size: 25px;
  }

  /* ***************** SECTION 2 ****************  */

  .section2 {
    height: 250px;
  }

  .section2titre {
    height: auto;
  }

  .section2titre h2 {
    font-size: 15px;
  }

  .section2photo {
    gap: 20px;
  }

  .histoire {
    height: 180px;
  }

  .histoire a {
    height: 100px;
  }

  .histoire h4 {
    font-size: 12px;
  }

  .photo {
    height: 180px;
  }

  .photo h4 {
    font-size: 12px;
  }

  .photo a {
    height: 100px;
  }

  .contact {
    height: 180px;
  }

  .contact h4 {
    font-size: 12px;
  }

  .contact a {
    height: 100px;
  }

  /* ***************** SECTION 3 ****************  */

  .section3 {
    height: auto;
    flex-flow: column-reverse wrap;
  }

  .section3left{
    width: 100%;
    margin-left: 0;
    height: 300px;
  }

  .section3right {
    padding-top: 40px;
    gap: 20px;
  }

  .section3titre {
    font-size: 15px;
  }

  .section3map iframe {
    height: 250px;
  }

  /* ***************** FOOTER ****************  */

  .footer {
    height: auto;
    gap: 15px;
  }

  .footer h5 {
    font-size: 6px;
  }

  .footer p {
    font-size: 8px;
  }
}

/* ******************************* RESPONSIVE 375 **********************************  */

@media screen and (max-width: 425px) {
  .navbar {
    gap: 15px;
  }

  /* ***************** SECTION 2 ****************  */

  .section2titre h2 {
    font-size: 12px;
  }

  .histoire {
    height: 150px;
  }

  .histoire h4 {
    font-size: 10px;
  }

  .photo {
    height: 150px;
  }

  .photo h4 {
    font-size: 10px;
  }

  .contact {
    height: 150px;
  }

  .contact h4 {
    font-size: 10px;
  }

  /* ***************** SECTION 3 ****************  */

  .section3left{
    height: 250px;
  }

  .section3titre {
    font-size: 12px;
  }

  .section3map iframe {
    height: 200px;
  }

  /* ***************** FOOTER ****************  */

  .footer {
    height: auto;
    gap: 15px;
  }

  .footer h5 {
    font-size: 6px;
  }

  .footer p {
    font-size: 8px;
  }
}

/* ******************************* RESPONSIVE 320 **********************************  */

@media screen and (max-width: 425px) {

  header{
    height: auto;
  }

  .navbar {
    gap: 15px;
  }

  .navbar a {
    font-size: 8px;
  }

    /* ***************** SECTION 1 ****************  */

    .section1titre {
      top: 200px;
    }
  
    .section1titre h1 {
      font-size: 22px;
    }

  /* ***************** SECTION 2 ****************  */

  .section2{
    height: auto;
  }

  .section2titre h2 {
    font-size: 12px;
    padding-bottom: 20px;
  }

  .histoire {
    height: 130px;
  }

  .histoire h4 {
    font-size: 8px;
  }

  .histoire a {
    height: 80px;
  }

  .photo {
    height: 130px;
  }

  .photo h4 {
    font-size: 8px;
  }

  .photo a {
    height: 80px;
  }

  .contact {
    height: 130px;
  }

  .contact h4 {
    font-size: 8px;
  }

  .contact a {
    height: 80px;
  }

  /* ***************** SECTION 3 ****************  */

  .section3right{
    width: 100%;
  }

}