* {
  margin: 0;
  padding: 0;
  font-family: "Merienda One", cursive;
  box-sizing: border-box;
}

body {
  width: 100%;
}

/* ******************************* HEADER **********************************  */

header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.drapeau {
  border: 2px solid black;
  height: 60px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rondrouge {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 30px;
}

.navbar {
  height: 60px;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 250px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.666);
}

.navbar a:hover {
  color: red;
  text-shadow: 1px 1px 1px black;
}

/* ******************************* SECTION 1 **********************************  */

.section1 {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section1titre h2 {
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px 2px red;
  letter-spacing: 1px;
  text-align: center;
  padding: 80px 0;
}

.section1photo {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 50px;
  gap: 60px;
}

.photo01 {
  background-image: url(/assets/images/Galerie-photos/alex-P-OYtjdRmo4-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 500px;
  border: 5px solid white;
}

.photo02 {
  background-image: url(/assets/images/Galerie-photos/david-edelstein-N4DbvTUDikw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  background-position: -200px 0;
  border: 5px solid white;
}

.photo03 {
  background-image: url(/assets/images/Galerie-photos/atul-vinayak-LoZQWWzXJBw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  border: 5px solid white;
}

.photo04 {
  background-image: url(/assets/images/Galerie-photos/denys-nevozhai--F3wMFrZ7z0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 500px;
  border: 5px solid white;
}

.photo06 {
  background-image: url(/assets/images/Galerie-photos/erik-eastman-4HG5hlhmZg8-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  border: 5px solid white;
  background-position: 0 -240px;
}

.photo07 {
  background-image: url(/assets/images/Galerie-photos/redd-nTBW1cOY1qI-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 500px;
  border: 5px solid white;
}

.photo08 {
  background-image: url(/assets/images/Galerie-photos/ryoji-iwata-TRJjPc0wss0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 500px;
  border: 5px solid white;
}

.photo09 {
  background-image: url(/assets/images/Galerie-photos/yu-kato-cddaZDt6uRw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  border: 5px solid white;
  background-position: 0 -150px;
}

.photo10 {
  background-image: url(/assets/images/Galerie-photos/yu-kato-824OwkP7sgk-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 600px;
  height: 500px;
  border: 5px solid white;
}

.photo11 {
  background-image: url(/assets/images/Galerie-photos/su-san-lee-E_eWwM29wfU-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 600px;
  height: 500px;
  border: 5px solid white;
}

/* ******************************* FOOTER **********************************  */

.footer {
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer h5 {
  font-size: 12px;
}

.footer p {
  font-size: 12px;
}

/* ******************************* RESPONSIVE **********************************  */

@media screen and (max-width: 1440px) {
  .navbar {
    gap: 180px;
  }

  .footer {
    gap: 80px;
  }
}
